* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    height: calc(100vh - 80px);
    background-color: hsl(0, 0%, 30%);
}

.container {
    position: relative;
    display: flex;
    height: 500px;
    width: 800px;
    margin: auto;
}

.prev,
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
}

.prev i,
.next i {
    font-size: 2em;
    cursor: pointer;
}
.images {
    width: calc(100% - 100px);
    height: 100%;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.circles {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 15px;
    background-color: hsla(255, 100%, 100%, 0.8);
}

.circles i {
    margin: 0 5px;
    cursor: pointer;
}

.active {
    color: hsl(0, 0%, 50%);
}
.not-active {
    color: hsl(0, 30%, 10%);
}

#title {
    display: flex;
    text-align: center;
    padding: 10px 0;
    height: 80px;
    background-color: hsl(0, 30%, 10%);
}
#title h1 {
    margin: auto;
    letter-spacing: .2em;
    font-size: 2.3rem;
    color: #fff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
